body {
	font-size: 14pt;
  font-family: sans-serif;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;

}

.preload {
	display: none;
}

.instructions {
	display: none;
	text-align: center justify;
}

#taskExpl {
	display: none;
	text-align: justify;
}

#landingPage {
	display: block;
}

#exptBox {
	display: none;
	width: 500px;
}

.exptButtons {
	display: none;
}

.expt {
	display: none;
}

.audiotest {
	display: none;
}

#endPage {
	display: none;
	text-align: justify;
}

#endpracticePage {
	display: none;
	text-align: justify;
}

#promptBox {
	display: none;
	text-align: center;
	padding-bottom: 25px;
	margin: auto;

}

#option1Box {
	display: none;
	float: left;
	text-align: center;

}

#option2Box {
	display: none;
	float: right;
	text-align: center;

}

.buttonDiv {
  width: 100px;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
  display: none;
}
