body {
	font-size: 14pt;
  font-family: sans-serif;
	padding-left: 30%;
	padding-top: 5%;
	max-width: 55%;
}

.preload {
	display: none;
}

.button {
  background-color: #686868;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#preload {
	display: none;
}

.border{
	border: solid 5px #a0a0a0;
}

.noborder{
	border: solid 5px white;
}

.instructions {
	display: none;
	text-align: center justify;
}

#taskExpl {
	display: none;
	text-align: justify;
}

#landingPage {
	display: block;
}

#exptBox {
	display: none;
	width: 500px;
}

#famBox {
	display: none;
	width: 500px;
	text-align: center;
}

.exptButtons {
	display: none;
}

.expt {
	display: none;
}

.word {
	font-size: 25px;
}

.audiotest {
	display: none;
}

#endPage {
	display: none;
	text-align: justify;
}

#endpracticePage {
	display: none;
	text-align: justify;
}

#promptBox {
	display: none;
	text-align: center;
	padding: 10px;
	vertical-align: top;

}

#option1Box {
	display: none;
	text-align: center;
	vertical-align: top;
	margin-right: 5px;
	padding-top: 50px;
	float: left;
	height: 120px;
	width: 160px;
}

#option2Box {
	display: none;
	text-align: center;
	vertical-align: top;
	margin-left: 5px;
	padding-top: 50px;
	float: right;
	height: 120px;
	width: 160px;
}

.buttonDiv {
  width: 100px;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
  display: none;
}

#progress {
  width: 100%;
  background-color: #ddd;
	display: none;
}

#progressbar {
  width: 1%;
  height: 10px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 32px;
  color: black;
}

#promptWord{
	font-weight: bold;
	font-size: 30px;
}

#opt1Word{
font-style: italic;
font-size: 25px;
}

#opt2Word{
font-style: italic;
font-size: 25px;
}
